
@model IEnumerable<TrabalhoFinal.Models.HoursByUser>

@{
    ViewBag.Title = "HoursByUser";
}

<h2>Horas por Usuário</h2>

@Html.ActionLink("Create New", "Create")

@{
    var grid = new WebGrid(Model, defaultSort: "UserName", canPage: true, canSort: true, rowsPerPage: 5);
}

@grid.GetHtml(footerStyle: "",
columns: grid.Columns(
 grid.Column("Detalhes", header: "", format:
@<text>@Html.ActionLink("Detalhes", "DetailedHoursByUser", new { userName = item.UserName })</text>, canSort: false),
        grid.Column("UserName", header: "Nome"),
        grid.Column("TotalHour", header: "Total de horas")
        )
    )
